.button {
  background: var(--button-bg-default);
  color: var(--button-text-default);
  cursor: pointer;
  font-family: var(--font-body);
  font-size: var(--body-medium);
  font-weight: var(--font-bold);
  padding: var(--space-scale-2) var(--space-scale-4);
  border: 0;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.25;
  transition: background .25s ease-in-out, box-shadow .15s ease-in-out, color .1s ease-in-out, opacity .2s ease-in-out, transform .2s ease-in-out;
  display: inline-flex;
  text-decoration: none !important;
}

.button--square {
  border-radius: 0 !important;
}

.button--large {
  height: 5.7rem;
}

@media (min-width: 1440px) {
    .button {
        font-size: var(--body-large);
        width: auto;
        line-height: 1.33333;
    }
}
